<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/> 
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
  </head>
  <body>
    {{header}}

    <div id="content">
    <h2><br/>About<br/></h2>

    <p>DeveloMaps is a <strong>free</strong> collaboration tool for service-oriented
      organizations.  The beta version of the application will
      provide a slick interface to a rich database of projects.
      Individuals (e.g. students) can use the site to search for
      and contact projects of interest. Organizations can use
      Develomaps to put themselves on the map, so to speak, so
      that students, donors, and other organizations can reach
      out to them.</p>

    <p>The main goals of DeveloMaps are to:</p>
    <ul>
      <li>Foster collaboration between service-oriented organizations</li>
      <li>Provide an accessible, rich, and updated database of service project information</li>
      <li>Provide a replacement for antiquated project search tools (e.g. Maize Pages)</li>
    </ul>

    <h2>People</h2>
    
    <P>
      There are several people working hard to contribute to DeveloMaps:
    </p>
    <div class="profile">
      <strong>Tye Chang:</strong><br/>It was his Idea<br/>
      <div class="profile_pic">
	<img src="/view_image?name=barney"
	     height="150px"/>
      </div>
      <div class="bio">
	Tye enjoys apple martinis and long walks on the beach. His favorite color is blue. His favorite number is 100.
      </div>
    </div>
    
    <div class="profile">
      <strong>Scott Reed:</strong><br/>Developer<br/>
      <div class="profile_pic">
	<img src="/view_image?name=scott"
	     height="150px"/>
      </div>
      <div class="bio">
	Scott is the software developer behind DeveloMaps.  He graduated from the University of Michigan with a CS degree in 2011. He is currently working as a software developer at Bloomberg LP.
      </div>
    </div>
    
    <div class="profile">
      <strong>Helen Shi:</strong><br/>Creative Director<br/>
      <div class="profile_pic">
	<img src="/view_image?name=helen"
	     height="150px"/>
      </div>
      <div class="bio">
	Helen is an M1 at the University of Michigan Medical School. She graduated from the University of Michigan  in 2011 with a degree in Biochemistry and a minor in Mathematics. She was one of the founders and board members of ATRAVES, a new service-learning organization that seeks to improve community health in Barrio Camillo Ortega, Nicaragua.
      </div>
    </div>
    

    <div style="clear:both">
      <h2>Contributing</h2>

      <p>We could use people with web programming experience, esp. using Django!
	If you are interested, contact Tye or Scott.
	<br/><br/><br/>---<p/>
    </div>
	
  </body>

</html>
