<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <title>Add Project</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <script type="text/javascript" src="/scripts/js/config.js"></script>
  <script type="text/javascript" src="/scripts/js/addproj.js"></script>
</head>

<body onload="initialize()">
  {{header}}

  <br/><h2>Tell us about your project</h2><br/>

  <div id="upload">
    <form name="proj_upload" action="/store_proj" enctype="multipart/form-data" method="post">
      <!-- Columns of input forms -->
      <div id="inputs">
	
	<!-- Column 1 -->
	<div id="pcol1">
	  <input name="org_id" type="hidden"/>
	  Project Name: <br/>
	  <input type="text"
		 name="proj_name"
		 id="proj_name"
		 class="user_input"/><br/>
	  Address: <br/><div>
	    <input id="proj_addr"
		   class="user_input"
		   name="proj_addr"
		   rows="3" cols="40"/></div>

	  <button type="button" style="font-size:large" onclick="codeAddress()">Find on Map</button><br/><br/>

	  Description (< 200 words): <br/>
	  <div><textarea name="proj_desc"
			 class="user_input"
			 rows="18" cols="30"></textarea>
	  </div><br/>
	  
	  <input type="hidden" name="lat"/>
	  <input type="hidden" name="lng"/>

	  <p>You can submit up to two pictures.</p>
	  
	  First Image: <br/><input type="file" name="img1"/><br/>
	  Second Image: <br/><input type="file" name="img2"/><br/>
	  
	</div>
	
	<!-- column 2: Tags -->
	<div id="pcol3">
	  <form>
	    Tags to describe your project:<br/>
	    {% for tag in tag_list %}
	    <input type="checkbox" name="{{tag}}" value="yes"> {{tag}}</input><br/>
	    {% endfor %}
	  </form>
	</div>

	<!-- Column 2: Contact Info -->
	<div id="pcol2">
	  
	  Your Project's Location:<br/>
	  <div id="pmap"></div><br/>
	  
	  <p>Where can users get more information about your project?</p>
	  
	  Website: <br/>
	  <input type="text"
		 id="proj_site"
		 class="user_input"
		 name="proj_site"/><br/>
	  Phone Number: <br/>
	  <input type="text"
		 id="proj_phone"
		 class="user_input"
		 name="proj_phone"/><br/>
	  Email Contact: <br/>
	  <input type="text"
		 id="proj_email"
		 class="user_input"
		 name="proj_email"/><br/>
	</div>	  
	
	<!-- End of Columns -->
      </div>
    </form> 
    <hr/>
    <div style="clear:both">
      <div id="submit_proj" style="float:right">
	<button id="proj_button" style="font-size:x-large" onclick="submitProj({{org_id}})">Submit Your Project</button>
      </div>
    </div>
  </div> <!-- End Upload Div -->
  
</body>
